<div id="fragmentListeContacts">
	<div class="container">
		<h3>Contacts du Client/Partenaire</h3>
		<b>
			<div class="row">
				<div class="col-sm-1">Nom</div>
				<div class="col-sm-1">Prénom</div>
				<div class="col-sm-2">Fonction</div>
				<div class="col-sm-1">Direction</div>
				<div class="col-sm-2">Mail</div>
				<div class="col-sm-1">Mobile</div>
				<div class="col-sm-1">Fixe</div>
				<div class="col-sm-3">Commentaire</div>
			</div>
		</b>
		<div class="form-control">
			<div class="row" th:each="element : ${rdtPrimaireForm.listeContacts}"
				th:if="${!element.pe}">
				<div class="col-sm-1" th:text="${element.nom}"></div>
				<div class="col-sm-1" th:text="${element.prenom}"></div>
				<div class="col-sm-2" th:text="${element.fonction}"></div>
				<div class="col-sm-1" th:text="${element.direction}"></div>
				<div class="col-sm-2" th:text="${element.mail}"></div>
				<div class="col-sm-1" th:text="${element.mobile}"></div>
				<div class="col-sm-1" th:text="${element.fixe}"></div>
				<div class="col-sm-3" th:text="${element.commentaire}"></div>
			</div>
		</div>
		<hr>
		<h3>Contacts Pôle-Emploi</h3>
		<b>
			<div class="row">
				<div class="col-sm-1">Nom</div>
				<div class="col-sm-1">Prénom</div>
				<div class="col-sm-2">Fonction</div>
				<div class="col-sm-1">Direction</div>
				<div class="col-sm-2">Mail</div>
				<div class="col-sm-1">Mobile</div>
				<div class="col-sm-1">Fixe</div>
				<div class="col-sm-3">Commentaire</div>
			</div>
		</b>
		<div class="form-control">
			<div class="row" th:each="element : ${rdtPrimaireForm.listeContacts}"
				th:if="${element.pe}">
				<div class="col-sm-1" th:text="${element.nom}"></div>
				<div class="col-sm-1" th:text="${element.prenom}"></div>
				<div class="col-sm-2" th:text="${element.fonction}"></div>
				<div class="col-sm-1" th:text="${element.direction}"></div>
				<div class="col-sm-2" th:text="${element.mail}"></div>
				<div class="col-sm-1" th:text="${element.mobile}"></div>
				<div class="col-sm-1" th:text="${element.fixe}"></div>
				<div class="col-sm-3" th:text="${element.commentaire}"></div>
			</div>
		</div>
	</div>
</div>