<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Référentiel des Tiers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
	<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	<script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
	<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/rdt.js" th:src="@{/resources/js/rdt.js}"></script>
</head>
<body>
 
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>

	<div class="container">
		<div class="panel panel-primary"> <!-- Partenaire -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<strong>Partenaire</strong>
				</h4>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-2">
							<div th:replace="rtd/selectionPrimaire"></div>
						</div>
						<div class="col-lg-2">Description :</div>
						<div th:replace="rtd/objetPartenaire"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary"> <!-- Convention -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<strong>Convention</strong>
				</h4>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="row">
								<div th:replace="rtd/selectionConventions"></div>
							</div>
 							<div class="row">
 								<div class="col-lg-3">Etat :</div>
								<div th:replace="rtd/etatConvention"></div>
							</div>
						</div>
 						<div class="col-lg-1">Objet</div>
 						<div th:replace="rtd/objetConvention"></div>
 					</div>
				</div>
			</div>
		</div>
	</div> <!-- class "container" -->

	<div th:replace="fragments/layout :: footer">&copy; 2017 DSI Pole Emploi</div>
	
	
	<!-- Signup modal -->
	<div th:replace="fragments/components :: modal(id='signup-modal', title='Signup')"></div>
</body>
</html>